.center-block {
    margin: 40px auto;
}
.block-text {
  width: 700px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1em;
}
/* We manage display using "slides". A slide is a <code>div</code> that takes up the entire page. Only one slide should be visible at a time. Navigation between slides is most sensibly accomplished using using buttons, rather than keyboard events. */
.slide {
    width: 95%;
    height: 95%;
    display: none;
    position: absolute;
    margin: 0;
    margin-left: 0.5%;
    padding: 1% 2% 1% 2%;
}
.expt {
    position:relative;
    text-align:center;
    background-color: rgb(210, 210, 210);
}
.inst-box {
    text-align: center;
  font-size: 38px;
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  top: 180px   /*22%;*/
  height: 400px;
  /*width: 700px;*/
  /*left:50%;*/
  transform: translate(-50%,0%);
  -webkit-transform: translate(-50%, -0%);
    -moz-transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%);
    -o-transform: translate(-50%, -0%);

}
.examples {
  text-align: center;
  font-size: 40px;
  position: relative;
  display: inline-block;
  margin: 0 0;
  top: 0%;
  left:0%;
  height:240px;
  width: 650px;
  /*left:50%;*/
  /*transform: translate(-50%,0%);*/
  background-color: rgb(210, 210, 210);
}
.block-text {
  width: 500px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1em;
}
#instImg {

}
#instText{
    width: auto;
    font-size: 40;
    /*margin: 0 auto;*/
    text-align:center;
    top:33%;
    /*font-weight: bold;*/
    position: relative;
    font-family:sans-serif;
}
.centerbox {
  width:500px;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
}


#wrapper {
    width: 1024px;
    margin: 10px auto;
    position: relative;
}

#hide-me{
    margin-top: 250px;
}

.bold {
    font-weight: bold;
}

#error textarea {
    font-family: courier
}

textarea {
    font-size: 0.8em;
/*    width: 24em;
    height: 10em;*/
}
.info {
    font-size:0.7em;
    line-height: 1.2em;
    text-align: center;

}

.hideToShow {
    display: none;
}

.letter {
    font-size: 140%;
}

.left-align {
  text-align: left;
}
td.left-align {
  text-align: left;
}

.center {
	text-align: center;
    margin-left: auto; 
    margin-right: auto;
    display: block;
}

.note {
	color: red;
	font-size: 60%;
}

.warning {
    color: red;
}

td {
    text-align:center; vertical-align:middle;
}

p.question-text {
    margin-top: 60px;
    margin-bottom: 20px;
}

.blockTable td:first-child {
    border-right: 1px solid #ffffff;
}

.blockTable tr:nth-child(even) {
    background: #dddddd;
}

#logo {
    width: 120;
}

#arrow-key {
    background: url(zen-button.png);
    border: 1px solid #999;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    margin: 10px;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
    font-size:0.9em;

}


#fix-vertical {
    height:26px;
    position:absolute;
    margin: auto;
    border: 1px solid black;
    left: 50%;
    top: 50%;
    /*bottom:50%;*/
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: inline-block;
}
#fix-horizontal {
    width:26px;
    position:absolute;
    margin: 0 auto;
    top: 50%;
    left:50%;
    /*margin-right: -50%;*/
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
/*  margin-top:-50%;*/
    border: 1px solid black;
    display: inline-block;
}
#verAlign {
    height: 26px;
    position: absolute;
    margin: 0 auto;
    border: 1px solid black;
    top:-1px;
    left:-1px;
}
.verAlign {
    height: 26px;
    position: absolute;
    margin: 0 auto;
    top:-1px;
    left:-1px;
}
.horAlign {
    width: 26px;
    position:absolute;
    margin: 0 auto;
    top: -1px;
    left: -1px
}

#hor-left {
    width: 26px;
    position:absolute;
    margin: 0 auto;
    border: 1px solid black;
    top: -1px;
    left: -37px
}

#hor-right {
    width: 26px;
    position:absolute;
    margin: 0 auto;
    border: 1px solid black;
    top: -1px;
    left: 35px
}

.picture {
    position: absolute;
    display: inline;
}

.left-pos {
    width: 177px;
    height: 213px;
    top:-50%;
    left: -168px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.right-pos {
    width: 177px;
    height: 213px;
    top:-50%;
    left: 194px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.up {
    top: -12px;
    position: absolute;
}
.down {
    top: 12px;
    position: absolute;
}

.leftCue {
    position:absolute;
    width: 28px;
    height: 28px;
    top: -25px;
    left: -168px;
    background: black;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rightCue {
    position:absolute;
    width: 28px;
    height: 28px;
    top: -25px;
    left: 194px;
    background: black;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
